terratowns_endpoint = "https://terratowns.cloud/api"

guild_wars = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/guild_wars"
    content_version = 1

}

halo_2 = {
    public_path = "/workspace/terraform-beginner-bootcamp-2023/public/halo_2"
    content_version = 1

}
