user_uuid = "ca11385d-3c9d-4447-bb27-7328be81ab75"
bucket_name = "dz4ul0xzmb5xnwnpxuyag6dizpvu1e50"
index_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/index.html"
error_html_filepath = "/workspace/terraform-beginner-bootcamp-2023/public/error.html"
content_version=1
assets_path = "workspace/terraform-beginner-bootcamp-2023/public/assets"